<section class=admin-dashboard>

<header class="page-header">
    <h1>Admin Dashboard</h1>
  </header>

  <table class="table table-bordered">
    <thead>
      <tr class="bg-info">
        <th class="text-center">Products</th>
        <th class="text-center">Categories</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="text-center"><h3><%= @products %> products</h3><br>
        <a href="/admin/products/" class="badge badge-dark"><h5>View all products</h5></a>
        </td>
        <td class="text-center"><h3><%= @category %> categories</h5><br>
        <a href="/categories/1" class="badge badge-dark"><h5>View apparel</h5></a><br>
        <a href="/categories/2" class="badge badge-dark"><h5>View electronics</h5></a><br>
        <a href="/categories/3" class="badge badge-dark"><h5>View furniture</h5></a><br>
        <a href="/categories/4" class="badge badge-dark"><h5>View books</h5></a>
        </td>
      </tr>
    </tbody>
  </table>

</section>