<header class="page-header about">
    <h1>Welcome to the Jungle!</h1>
</header>

<article class="about">
  <div class="about-img">
    <img src="https://as1.ftcdn.net/jpg/01/96/95/72/500_F_196957258_WXFDxUzgyAaJ96p1r7tvDc4oXhFBMZQi.jpg" width="300" height="300">
  </div>

  <h2>Who We Are</h2>
  <p>We provide an eclectic shopping experience for every taste and budget. Shopping with us is so fun you'll never want to leave!</p>
  <h2>What We Do</h2>
  <p>You can trust us to always find the latest in odd, fun, and quirky products and bring them straight to you. You don't need to look any further!
  <h2>Why Do We Do It?</h2>
  <p>We are here because of you, our customers. We want to bring a bit of fun into your life so you can find the perfect item for yourself or that hard-to-shop-for family member that you never quite know what to get! 
  <br>We are here because we believe happiness lies in finding exactly the right item, not just any hat, but THE hat! We are here to provide that experience for you.</p>
</article>
