//font styling overrides

br {
  content: " ";
  display: block;
  margin: 0.5em;
}

h3 {
  margin-top: 0.5em;
  margin-bottom: 0.5em
}

.alert alert-info {
  text-align: center
}

.alert alert-success {
  text-align: center;
}

.about {
  line-height: 1.5;
  font-size: 18px;
  width: 75%;
  margin: auto;
}

.about-img {
  float: right;
}